/// define ///


$font : 15px;

$main-text : #4C4239;
$sub-text : #A3A0A0;

$back-color : #F5F5F5;
$border-color: #e2e2e2;

$purple : #9A12B3;
$brown: #665751;
$blue : #4FAEE8;
$green : #26C281;
$greenhover : #49DB99;
$orange : #D35400;
$orangehover : #DD7D47;